.row {
  display: grid;
  grid-template-columns: 100% 1fr;

  &__container {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 0.8fr;
    column-gap: 8px;
    font-size: 16px;
    word-break: break-word;
    position: relative;
    align-items: baseline;

    &_header {
      font-size: 18px;
      line-height: 1.75;
      font-weight: bold;
    }
  }

  &:nth-child(1) {
    border-bottom: 1px #3e3e3e solid;
  }

  &__cell {
    border-left: 1px #3e3e3e solid;
    min-height: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    &:nth-child(1) {
      border-left: none;
    }
  }

  &__content {
    margin: auto 10px;
  }

  &__input {
    width: 100%;
    font-size: inherit;
  }

  &__input-error {
    margin: auto 10px;
  }

  &__button-container {
    display: flex;
    gap: 5px;
    padding-left: 15px;
  }
}
