.row {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  column-gap: 8px;
  font-size: 16px;
  word-break: break-word;

  &:nth-child(1) {
    border-bottom: 1px #3e3e3e solid;
  }

  &_header {
    font-size: 18px;
    line-height: 1.75;
    font-weight: bold;
  }

  &__cell {
    border-left: 1px #3e3e3e solid;

    &:nth-child(1) {
      border-left: none;
    }
  }

  &__content {
    margin: 5px 10px;
  }
}
